<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTAFOLIO</title>
    <link rel="stylesheet" href="CSS/estilos.css">
    <link rel="stylesheet" href="CSS/normalize.css">
    <script src="https://kit.fontawesome.com/53f620cc7d.js" crossorigin="anonymous"></script>
</head>

<body onload="mueveReloj()">
    <header>
        <div class="contenedor-header">


            <div class="header-logo">

                <div class="header-flex">
                    <!-- <div class="contenedor-bandera">
                        <div id="bandera"></div>
                    </div> -->

                    <a href="#contacta" class="contacto">CONTACTO</a>
                    <a href="#testimoniales" class="testimoniales">TESTIMONIALES</a>
                    <a href="#proyect" class="proyectos">PROYECTOS</a>
                    <a href="#tecnologias" class="tecnologias" data-target="tecnologias">TECNOLOGIAS</a>
                    <a href="#inicio" class="inicio" data-target="inicio">INICO</a>

                    <div class="alien" id="alien"></div>

                </div>

            </div>

        </div>
    </header>
    <main>
        <div class="contenedor-main">
            <!-- <div class="aspecto">
            <form name="form_reloj">
                <input type="text" name="reloj" size="10">
                </form>
            <div class="contenedor-aspecto">
                <label id="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div> -->
            <div class="informacion-mia" id="inicio">
                <div class="contenedor-informacion-mia">
                    <div class="nombre">
                        <h2>HOLA <span>MI NOMBRE ES:</span></h2>
                        <h1>-:JAHIR.FLORES.REYES:-</h1>
                    </div>
                    <div class="descripcion">
                        <h3>INGENIERO EN SISTEMAS COMPUTACIONALES Y DESARROLLADOR FULL-SATACK</h3>
                        <p>
                            "Apasionado por la creación de productos front-end y back-end sólidos y escalables que
                            ofrecen experiencias de usuario excepcionales.
                            Experto en el diseño de bases de datos y la integración de APIs para optimizar la
                            funcionalidad.
                            Siempre emocionado por enfrentar nuevos desafíos y encontrar soluciones innovadoras."

                        </p>
                    </div>
                    <div class="contenedor-fotografia">
                        <div class="hexagono"></div>
                        <div class="fotografia">
                            <img src="imagenes/prueba.png" alt="">
                        </div>
                    </div>
                    <div class="redes-sociales">
                        <div>
                            <h3>GIT-HUB</h3>
                        </div>
                        <div class="git">
                            <a href="https://github.com/jahir-creator?tab=repositories" id="redes">
                                <img src="imagenes/github.png" alt="" class="image-with-shadow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="certificacion" id="tecnologias">
            <h1>TECNOLOGIAS</h1>
            <div class="slider">
                <div class="article">
                    <img src="imagenes/html2.jpg" alt="">
                    <img src="imagenes/html.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/css1.jpg" alt="">
                    <img src="imagenes/css.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/js1.jpg" alt="">
                    <img src="imagenes/js.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/node1.jpg" alt="">
                    <img src="imagenes/node.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/express1.jpg" alt="">
                    <img src="imagenes/express.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/php1.jpg" alt="">
                    <img src="imagenes/php.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/laravel1.jpg" alt="">
                    <img src="imagenes/laravel.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/java2.jpg" alt="">
                    <img src="imagenes/java.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/springboot1.jpg" alt="">
                    <img src="imagenes/springboot.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/react1.jpg" alt="">
                    <img src="imagenes/react.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/mysql1.jpg" alt="">
                    <img src="imagenes/mysql.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/postgres1.jpg" alt="">
                    <img src="imagenes/postgres.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/oracle1.jpg" alt="">
                    <img src="imagenes/oracle.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/mongo1.jpg" alt="">
                    <img src="imagenes/mongo.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/python1.jpg" alt="">
                    <img src="imagenes/python.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/docker1.jpg" alt="">
                    <img src="imagenes/docker.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/git1.jpg" alt="">
                    <img src="imagenes/github.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/manjaro1.jpg" alt="">
                    <img src="imagenes/manjaro.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/debian2.jpg" alt="">
                    <img src="imagenes/debian.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/windows1.jpg" alt="">
                    <img src="imagenes/windows.png" alt="">
                </div>
                <div class="article">
                    <img src="imagenes/soporte1.jpg" alt="">
                    <img src="imagenes/soporte.png" alt="">
                </div>
            </div>
        </div>

        <div class="proyect" id="proyect">
            <div class="contendor-proyectos">
                <div class="titulo-proyectos">
                    <h1 class="titulo-proyect">PROYECTOS</h1>
                </div>
                <div class="contenedor-cards">
                    <div class="card-proyectos arqui">
                        <a href="/PROYECTOS/ARQUITECTURA/arquitectura.html"><img src="../imagenes/modelo_premier.jpg"
                                alt=""><span class="texto-superpuesto">ARQUITECTURA</span></a>
                    </div>
                    <div class="card-proyectos audifo">
                        <a href="/PROYECTOS/AUDIFONOS/audifonos.html"><img src="../imagenes/newsletter.jpg" alt=""><span
                                class="texto-superpuesto">AUDIFONOS</span></a>
                    </div>
                    <div class="card-proyectos deli">
                        <a href="/PROYECTOS/DELIVERY/delivery.html"><img src="../imagenes/repartidor.jpg" alt=""><span
                                class="texto-superpuesto">DELIVERY</span></a>
                    </div>
                    <div class="card-proyectos eco">
                        <a href="/PROYECTOS/ECOMMERCE/Inicio.html"><img src="../imagenes/principal.jpg" alt=""><span
                                class="texto-superpuesto">ECOMMERCE</span></a>
                    </div>
                    <div class="card-proyectos pod">
                        <a href="/PROYECTOS/PODCAST/index.html"><img src="../imagenes/header.jpg" alt=""><span
                                class="texto-superpuesto">PODCAST</span></a>
                    </div>
                    <div class="card-proyectos wall">
                        <a href="/PROYECTOS/WALLETNUCLEUS/wallet.html"><img src="../imagenes/iphine-8-2968158_1280.jpg"
                                alt=""><span class="texto-superpuesto">WALLETNUCLEUS</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonials" id="testimoniales">
            <div class="contenedor-testimoniales">

                <div class="titulo-testimoniales">
                    <h1>TESTIMONIALES</h1>
                </div>

                <% results.forEach((coment)=> { %>

                    <div class="testimonial-card">

                        <div class="card-header">

                            <div class="card-imagen">
                                <img src="<%= coment.url %>" alt="Imagen de comentario">
                            </div>

                            <div class="card-testigo">
                                <div class="card-datos">
                                    <div>
                                        <label for="" class="nombre-testimonial">
                                            <%= coment.nombre %>
                                        </label>
                                    </div>
                                    <div>
                                        <label for="" class="apellido-testimonial">
                                            <%= coment.apellido %>
                                        </label>
                                    </div>
                                </div>
                                <div class="card-calificacion">

                                    <% for (let i=1; i <=5; i++) { %>
                                        <i
                                            class="fa-solid fa-star star <%= i <= coment.calificacion ? 'checked' : '' %>"></i>
                                        <% } %>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <p>
                                <%= coment.comentario %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="dat-footer">
                                <label for="">EMPRESA:</label>
                                <label for="">
                                    <%= coment.empresa %>
                                </label>
                            </div>
                            <div class="dat-footer">
                                <label for="">CORREO:</label>
                                <label for="">
                                    <%= coment.email %>
                                </label>
                            </div>
                            <div class="dat-footer">
                                <label for="">TELEFONO:</label>
                                <label for="">
                                    <%= coment.telefono %>
                                </label>
                            </div>
                            <div class="dat-footer">
                                <label for="">TEL EMPRESA:</label>
                                <label for="">
                                    <%= coment.telempresa %>
                                </label>
                            </div>
                        </div>


                    </div>

                    <% }) %>
            </div>

        </div>

        <div class="contacta" id="contacta">
            <div>
                <h1>CONTACTAME</h1>
            </div>
            <div>
                <iframe src="http://jahir-flores-reyes.duckdns.org:8000/contacto/"></iframe>
            </div>
        </div>

        </div>
    </main>

    <script src="JS/bandera.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("a.inicio").click(function (e) {
                e.preventDefault(); // Previene el comportamiento predeterminado del enlace

                var target = $(this).data("target"); // Obtiene el ID del div destino
                var offset = $("#" + target).offset().top; // Calcula la posición del div

                // Aplica un efecto de desplazamiento suave
                $("html, body").animate({
                    scrollTop: offset
                }, 1000, function () {
                    // Una vez finalizada la animación, redirige a la ubicación del div
                    window.location.hash = target;
                });
            });
        });
    </script>
    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            const divOculto = document.getElementById('tecnologias');

            // Verifica si el ancho de la ventana es mayor que 768px
            if (window.innerWidth > 768) {
                let isVisible = false; // Variable para rastrear si el div es visible

                // Función para mostrar los elementos del div
                function mostrarElementos() {
                    if (!isVisible) {
                        divOculto.style.opacity = '1';
                        isVisible = true;
                    }
                }

                // Crea un observador de intersección
                const observer = new IntersectionObserver(entries => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            mostrarElementos();
                        } else {
                            divOculto.style.opacity = '0';
                            isVisible = false;
                        }
                    });
                }, { threshold: 0.5 });

                // Empieza a observar el div oculto
                observer.observe(divOculto);
            } else {
                // Si el ancho es menor o igual a 768px, simplemente muestra el div
                divOculto.style.opacity = '1';
            }
        });
    </script> -->




</body>

</html>